body {
    width: 960px;
    margin: 20px auto;
}

h1 {
    color:#777777; 
    border-bottom: 1px solid #777777;
}

h2 {
    color: #aa0000;
    border-bottom: 1px dashed #aa0000;
}

hr {
    clear: both;
}

.nav-links {
    background-color: #000000;
    color: #ffffff;
    display: block;
    float: left;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
}

.image-gallery {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    display: block;
    float: left;
    padding: 10px;
    margin: 10px;
}

.main-content {
    float: left; 
    width: 70%;
}

.side-bar {
    background-color: #e7e7e7;
    float: right;
    width: 20%;
}

.content-footer {
    border-top: 1px solid #000000;
    clear: both;
    padding: 10px;
}

.image-list2 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image-list2 li {
    float: left;
    padding: 10px;
    margin: 10px;
}

.image-list2 img {
    height: 100px;
    width: 100px;
}

.image-list2 h4 {
    text-align: center;
}